In [2]:
!pip install py7zr

Requirement already satisfied: py7zr in /opt/anaconda3/lib/python3.12/site-packages (0.22.0)
Requirement already satisfied: texttable in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.7.0)
Requirement already satisfied: pycryptodomex>=3.16.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (3.20.0)
Requirement already satisfied: pyzstd>=0.15.9 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (0.16.1)
Requirement already satisfied: pyppmd<1.2.0,>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.1.0)
Requirement already satisfied: pybcj<1.1.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.0.2)
Requirement already satisfied: multivolumefile>=0.2.3 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (0.2.3)
Requirement already satisfied: inflate64<1.1.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.0.0)
Requirement already satisfied: brotli>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.1.0)
Requirement already satisfied: psutil in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (5.9.0)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import py7zr
import os

# Path to your .7z file
seven_z_file_path = 'Mining_DataSet/trainingData.7z'

# Directory where you want to extract the files
extract_to_directory = 'extracted_data/'

# Create the directory if it doesn't exist
os.makedirs(extract_to_directory, exist_ok=True)

# Extracting the .7z file
with py7zr.SevenZipFile(seven_z_file_path, mode='r') as archive:
    archive.extractall(path=extract_to_directory)

print("Extraction completed.")

Extraction completed.

In [5]:
import pandas as pd

# List files in the extracted directory
extracted_files = os.listdir(extract_to_directory)
print("Extracted files:", extracted_files)

# Assuming the extracted file is a CSV
csv_file_path = os.path.join(extract_to_directory, extracted_files[0])

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
df.head()

Extracted files: ['trainingData1.csv', 'trainingData3.csv', 'trainingData2.csv', '.DS_Store', 'trainingData5.csv', 'trainingData4.csv', '.ipynb_checkpoints']

,3.2,3.2.1,3.2.2,3.2.3,3.2.4,3.2.5,3.2.6,3.2.7,3.2.8,3.2.9,...,0.5395,0.5396,0.5397,0.5398,0.5399,0.5400,0.5401,0.5402,0.5403,0.5404
0,3.7,3.6,3.6,3.6,3.6,3.5,3.5,3.5,3.5,3.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.4,3.4,3.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.2,3.2,3.2,3.3,3.3,3.4,3.4,3.5,3.5,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.4,3.4,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.3,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Path to the .txt file containing the column names
column_names_file_path = 'Mining_DataSet/column_names.txt'

# Read the column names from the .txt file
with open(column_names_file_path, 'r') as file:
    column_names = file.read().strip().split()

# If the column names are comma-separated, use split(',') instead
# column_names = file.read().strip().split(',')

In [11]:
csv_file = 'trainingData5.csv'
csv_file_path = os.path.join(extract_to_directory, csv_file)
    
# Load the CSV file without headers
df = pd.read_csv(csv_file_path, header=None)
    
# Assign the column names
df.columns = column_names
    
# Save the updated DataFrame back to the same file or a new file
updated_csv_file_path = os.path.join(extract_to_directory, f'updated_{csv_file}')
df.to_csv(updated_csv_file_path, index=False)
    
print(f"Updated {csv_file} with column names.")

Updated trainingData5.csv with column names.

In [13]:
csv_file = 'trainingData4.csv'
csv_file_path = os.path.join(extract_to_directory, csv_file)
    
# Load the CSV file without headers
df = pd.read_csv(csv_file_path, header=None)
    
# Assign the column names
df.columns = column_names
    
# Save the updated DataFrame back to the same file or a new file
updated_csv_file_path = os.path.join(extract_to_directory, f'updated_{csv_file}')
df.to_csv(updated_csv_file_path, index=False)
    
print(f"Updated {csv_file} with column names.")

Updated trainingData4.csv with column names.

In [7]:
# Loop through each CSV file and add the column names
for csv_file in extracted_files:
    csv_file_path = os.path.join(extract_to_directory, csv_file)
    
    # Load the CSV file without headers
    df = pd.read_csv(csv_file_path, header=None)
    
    # Assign the column names
    df.columns = column_names
    
    # Save the updated DataFrame back to the same file or a new file
    updated_csv_file_path = os.path.join(extract_to_directory, f'updated_{csv_file}')
    df.to_csv(updated_csv_file_path, index=False)
    
    print(f"Updated {csv_file} with column names.")

Updated trainingData1.csv with column names.
Updated trainingData3.csv with column names.
Updated trainingData2.csv with column names.

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 3131: invalid start byte

In [15]:
df.head()

,AN311_value_1,AN311_value_2,AN311_value_3,AN311_value_4,AN311_value_5,AN311_value_6,AN311_value_7,AN311_value_8,AN311_value_9,AN311_value_10,...,V_value_591,V_value_592,V_value_593,V_value_594,V_value_595,V_value_596,V_value_597,V_value_598,V_value_599,V_value_600
0,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.2,3.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.6,3.6,3.6,3.6,3.6,3.6,3.6,3.6,3.6,3.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.5,3.5,3.4,3.4,3.3,3.3,3.3,3.3,3.2,3.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.4,3.4,3.4,3.4,3.4,3.4,3.3,3.3,3.3,3.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df.size

168000000